* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-background : #ffffff;
    --basick-background : #eeeeee;
}

img {
    max-width: 100%;
    display: block;
    align-items: center;
    image-rendering: -webkit-optimize-contrast;
}

body {
    background: var(--basick-background);
}

.wrap {
    background: var(--main-background);
    position: relative;
    margin: 0 auto;
    margin-top: 10%;
    max-width: 370px;
    height: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .3),
        -2px -2px 1px rgba(0, 0, 0, .1);
}

.title {
    background: var(--main-background);
    margin: 0 auto;
    margin-top: 5px;
    width: 20%;
    text-align: center;
    color: #333;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .1),
    -1px -1px 2px rgba(0, 0, 0, .25);
}

.wrap::before {
    content: "";
    position: absolute;
    top: -20px;
    right: -10px;
    width: 35px;
    height: 30px;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    background: #333;
    animation: moveright linear 2s infinite;
}

.wrap::after {
    content: "";
    position: absolute;
    top: -10px;
    right: 0px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 10px 10px 25px rgba(255, 255, 255, .6);
}

.logo {
    position: absolute;
    top: -20px;
    left: -10px;
    width: 35px;
    height: 30px;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background: #333;
    animation: moveleft linear infinite 2s;
}

.logo::before {
    position: absolute;
    content: "";
    top: 10px;
    left: 10px;
    background: #fff;
    width: 15px;
    height: 15px;
    border-radius: 50%;    
}

.block {
    position: absolute;
    width: 50px;
    height: 20px;
    background-image: url(../img/block2.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
}

.user {
    position: absolute;
    width: 60px;
    height: 20px;
    background-image: url(../img/user.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position: center;
    background-image: url(../img/shoter.png);
}


/* animate */
/* .wrap::before 
.logo */
@keyframes moveright {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes moveleft {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(-360deg);
    }
}